@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap');

#pro-1 {
    font-family: 'Rubik', sans-serif;
}

.animation_01 {
    animation: animation_01 0.2s;
}

@keyframes animation_01 {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes close-anim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/* Thin and Rounded Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    /* adjust as needed for thickness */
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    /* choose your color */
    border-radius: 10px;
    /* make it rounded */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* track color, tweak if you like */
}

.anim-45 {
    animation: anim45 1s;
}

@keyframes anim45 {
    0% {
        backdrop-filter: blur(40px);
    }

    100% {
        backdrop-filter: blur(0px);
    }
}

/* info */

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#info {
    animation: fadeInScale 0.5s ease-out;
}

@keyframes fadeOutScale {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

#info {
    animation: fadeInScale 0.5s ease-out, fadeOutScale 0.5s ease-in 2s forwards;
}