@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,800&display=swap');

#pro-1 {
    font-family: 'Rubik', sans-serif;
}

.pro-2 {
    font-family: 'Playfair Display', serif;

}

#pro-2 {
    font-family: 'Playfair Display', serif;
}

#pro-3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#pro-3::selection {
    background-color: black;
    color: white;
}

#pro-2::selection {
    background-color: black;
    color: white;
}

.animation_01 {
    animation: animation_01 0.2s;
}

@keyframes animation_01 {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes close-anim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/* Thin and Rounded Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    /* adjust as needed for thickness */
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    /* choose your color */
    border-radius: 10px;
    /* make it rounded */
}

::-webkit-scrollbar-track {
    background-color: black;
    /* track color, tweak if you like */
}

.anim-45 {
    animation: anim45 1s;
}

@keyframes anim45 {
    0% {
        backdrop-filter: blur(40px);
    }

    100% {
        backdrop-filter: blur(0px);
    }
}

/* info */

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#info {
    animation: fadeInScale 0.5s ease-out;
}

@keyframes fadeOutScale {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

#info {
    animation: fadeInScale 0.5s ease-out, fadeOutScale 0.5s ease-in 2s forwards;
}



.text-anim {
    animation: textAnimation 0.5s;
}

@keyframes textAnimation {
    0% {
        font-family: 'Lato', sans-serif;
    }

    25% {
        font-family: 'Raleway', sans-serif;
    }

    80% {
        font-family: 'Ubuntu', sans-serif;
    }

    100% {
        font-family: 'Rubik', sans-serif;
    }
}

.no_scrollbar::-webkit-scrollbar {
    display: none;
}